<app-json-ld UrlBase="diseases" [UrlSecond]="this.diseaseSlug" UrlThird="/OtherNames"></app-json-ld>
<div class="row">
  <div class="col-md-3">
    <nav>
      <app-disease-sub-menu></app-disease-sub-menu>
    </nav>
  </div>
  <main role="main" *ngIf="data && data.mainPropery" class="col-md-9">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">{{this.data.mainPropery.diseaseName}} is also known as:</h1>
    </div>

    <div>
      <ul>
        <li *ngFor="let synonym of this.data.mainPropery.synonyms">{{synonym}}</li>
      </ul>

      <p><a [routerLink]="['/','diseases', this.diseaseSlug]">Please click here for {{this.data.mainPropery.diseaseName}}</a></p>
    </div>
  </main>
</div>
