<h1>About GARD</h1>

<div style="width: 50%" class="mt-4 mb-4">
  The Genetic and Rare Diseases (GARD) Information Center is a program of the
  National Center for Advancing Translational Sciences (NCATS) and funded by two
  parts of the National Institutes of Health (NIH): NCATS and the National Human
  Genome Research Institute (NHGRI). GARD provides the public with access to
  current, reliable, and easy to understand information about rare or genetic
  diseases in English or Spanish.<br />
  <br />

  <h3>Who can GARD help with information?</h3>
  <ul>
    <li>People who have rare or genetic diseases.</li>
    <li>
      Parents, family members, and friends of someone with a rare or genetic
      disease.
    </li>
    <li>
      Doctors, nurses, genetic counselors, other health care providers, social
      workers, and teachers who work with people with rare or genetic diseases.
    </li>
    <li>
      Scientists who are studying rare or genetic diseases and need information
      for their research or for people taking part in studies.
    </li>
    <li>
      Community leaders who are helping people find resources about rare or
      genetic diseases.
    </li>
    <li>
      Advocacy groups who want up-to-date disease information for their
      websites.
    </li>
    <li>
      Members of the general public who want to learn more about a rare or
      genetic disease.
    </li>
  </ul>
</div>
