<h1>En Español</h1>

<div class="mt-4 mb-4">
  El Centro de Información sobre Enfermedades Genéticas y Raras (Genetic and
  Rare Diseases Information Center, GARD) ayuda a encontrar información útil
  sobre enfermedades genéticas y raras y recursos relevantes, como dónde
  encontrar ayuda financiera, organizaciones de apoyo o estudios de
  investigación. GARD tiene especialistas en información que pueden responder a
  sus preguntas acerca de enfermedades genéticas y raras, en inglés y español.
</div>
