.img2mb{
  background-image: url("/assets/2mb.png");
}

.img200kb_0{
  background-image: url("/assets/200kb.png?0");
  height: 0px;
}
.img200kb_1{
  background-image: url("/assets/200kb.png?1");
  height: 0px;
}
.img200kb_2{
  background-image: url("/assets/200kb.png?2");
  height: 0px;
}
.img200kb_3{
  background-image: url("/assets/200kb.png?3");
  height: 0px;
}
.img200kb_4{
  background-image: url("/assets/200kb.png?4");
  height: 0px;
}
.img200kb_5{
  background-image: url("/assets/200kb.png?5");
  height: 0px;
}
.img200kb_6{
  background-image: url("/assets/200kb.png?6");
  height: 0px;
}
.img200kb_7{
  background-image: url("/assets/200kb.png?7");
  height: 0px;
}
.img200kb_7{
  background-image: url("/assets/200kb.png?7");
  height: 0px;
}
.img200kb_8{
  background-image: url("/assets/200kb.png?8");
  height: 0px;
}
.img200kb_9{
  background-image: url("/assets/200kb.png?9");
  height: 0px;
}
