<app-json-ld UrlBase="diseases/" [UrlSecond]="this.diseaseSlug"></app-json-ld>
<div class="row">
  <div class="col-md-3">
    <nav>
      <app-disease-sub-menu></app-disease-sub-menu>
    </nav>
  </div>
  <main role="main" *ngIf="data" class="col-md-9">
    <div class="img200kb_0"></div>
    <div class="img200kb_1"></div>
    <div class="img200kb_2"></div>
    <div class="img200kb_3"></div>
    <div class="img200kb_4"></div>
    <div class="img200kb_5"></div>
    <div class="img200kb_6"></div>
    <div class="img200kb_7"></div>
    <div class="img200kb_8"></div>
    <div class="img200kb_9"></div>
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">{{data.GARD_Name__c}}</h1>
      <h3>Disease #{{data.DiseaseID__c}}</h3>
    </div>

    <div>
      <p><b>Other Names: </b>{{data.Synonyms_List__c}}</p>

      <p><b>Description: </b>
        <span>{{data.Disease_Description__c}}</span>
      </p>
    </div>

    <div *ngIf="KB">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Knowledge Articles</h1>
      </div>

      <div *ngFor="let KBdata of KB">
        <h3>{{KBdata.title}}</h3>
        <p [innerHTML]="KBdata.summary | safeHTML"></p>
      </div>
    </div>
  </main>

</div>
