<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <ul class="navbar-nav px-3 list-inline">
    <li class="nav-item text-nowrap list-inline-item">
        <span class="nav-link" href="#"
        >U.S. Department of Health & Human Services
          <span class="splitter"> > </span> National Institutes of Health
          <span class="splitter"> > </span> NCATS</span
        >
    </li>
  </ul>
</nav>

<div class="Page-Width">

  <app-main-top-menu></app-main-top-menu>

  <app-search-banner></app-search-banner>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="footer">
  <div class="Page-Width">
    <div class="footer-links row align-items-center">
      <div class="col"><a href="/" target="_self">GARD Home</a></div>
      <div class="col">
        <a href="http://ncats.nih.gov/">NCATS Home</a>
      </div>
      <div class="col">
        <a href="javascript: void(0)">Site Map</a>
      </div>
      <div class="col">
        <a href="javascript: void(0)">Browse Glossary A-Z</a>
      </div>
      <div class="col">
        <a href="javascript: void(0)">Privacy Notice</a>
      </div>
      <div class="col">
        <a href="javascript: void(0)">Disclaimer</a>
      </div>
      <div class="col">
        <a href="javascript: void(0)">Accessibility</a>
      </div>
      <div class="col">
        <a href="javascript: void(0)">FOIA </a>
      </div>
      <div class="col">
        <a href="javascript: void(0)">OIG</a>
      </div>
    </div>
  </div>

  <div class="footer-text">
    <p>
      If you have problems viewing PDF files, download the latest version of
      <a
        class="footer-links"
        target="_blank"
        href="https://get.adobe.com/reader/"
      >Adobe Reader</a
      >
    </p>
    <p>
      For
      <a
        class="footer-links"
        f="http://edi.nih.gov/consulting/language-access-program/about"
        target="_blank"
        title="Read the plan"
        class="ext"
      >language access</a
      >
      assistance, contact the
      <a
        class="footer-links"
        href="mailto: info@ncats.nih.gov"
        title="E - mail Public Information Officer"
      >NCATS Public Information Officer</a
      >
    </p>
    <p>
      Genetic and Rare Diseases Information Center (GARD) - PO Box 8126,
      Gaithersburg, MD 20898-8126 - Toll-free: 1-888-205-2311
    </p>
  </div>

  <!-- <div class="footer-social">
      <a class="contact-icon" href="/about-gard/contact-gard"><span><span class="hidden">contact
                  gard</span></span></a>
      <a target="_blank" class="facebook-icon"
          href="https://www.facebook.com/Office-of-Rare-Diseases-Research-ORDR-196130373766263/"><span><span
                  class="hidden">Office of Rare Disease Research Facebook Page</span></span></a>
      <a target="_blank" class="twitter-icon" href="https://twitter.com/ORDR"><span><span class="hidden">Office of
                  Rare Disease Research on Twitter</span></span></a>
  </div> -->
</footer>
