<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">GARD</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/diseases" routerLinkActive="active">
              <span data-feather="home"></span>
              List Of Disease <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/help" routerLinkActive="active">
              <span data-feather="file"></span>
              Help
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">
              <span data-feather="file"></span>
              About
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/glossary" routerLinkActive="active">
              <span data-feather="file"></span>
              Glossary
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <router-outlet></router-outlet>
  </div>
</div>