html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
  background-color: #6f42c1;
}

.lh-100 {
  line-height: 1;
}

.lh-125 {
  line-height: 1.25;
}

.lh-150 {
  line-height: 1.5;
}

.splitter {
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  font-size: 20px;
  transform: scale(0.3, 1);
}

.banner {
  background-color: #1b5b76;
  height: 116px;
  background-image: url(https://rarediseases.info.nih.gov/content/images/banner-touch-diseases.jpg);
  background-repeat: no-repeat;
  background-position: right;
}

.search-ct {
  top: 40px;
  left: 30px;
}

.footer {
  background: lightgray;
  min-height: 230px;
}

.footer-links {
  padding-top: 20px;
}

.footer-text {
  margin-top: 30px;
  text-align: center;
}

.input-group-text {
  cursor: pointer;
}

@media (min-width: 768px) {
  .p-autocomplete {
    width: 300px;
  }

  .p-autocomplete-input {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .p-autocomplete {
    width: 100%;
  }

  .p-autocomplete-input {
    width: 100%;
  }
}

.p-autocomplete-items {
  background-color: white;
}


@media (min-width: 768px) {
  .Page-Width {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .Page-Width {
    width: 94%;
    margin: auto;
  }
}




