<h1>News</h1>

<div class="mt-4 mb-4">
  <p>
    <a href="javascript: void(0)">
      FDA Grants Accelerated Approval to Naxitamab for High-Risk Neuroblastoma
      in Bone or Bone Marrow</a
    >
  </p>
  <p>
    <a href="javascript: void(0)">
      Gaucher Disease, How a Rare Disease Provides a Window into Common
      Neurodegenerative Disorders</a
    >
  </p>
  <p>
    <a href="javascript: void(0)">
      FDA Approves First Treatment for Hutchinson-Gilford Progeria Syndrome and
      Some Progeroid Laminopathies</a
    >
  </p>
  <p>
    <a href="javascript: void(0)">
      FDA Approves First Treatment for Weight Management for People with Certain
      Rare Genetic Conditions</a
    >
  </p>
  <p>
    <a href="javascript: void(0)">
      Scientists Use Clues in the Human Genome to Discover New Inflammatory
      Syndrome</a
    >
  </p>
  <p>
    <a href="javascript: void(0)">
      Down Syndrome Research the Intersection of Basic Science and Clinical
      Cohort Development</a
    >
  </p>
  <p>
    <a href="javascript: void(0)">
      NIH-Supported Research Survey to Examine Impact of COVID-19 on Rare
      Diseases Community</a
    >
  </p>
</div>
