<h1>GARD Disease List</h1>

<div class="row">
  <nav class="col-md-3">
    <div class="sidebar-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink="/diseases"
            routerLinkActive="active"
          >
            Browse A-Z
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/diseases" routerLinkActive="active">
            Find Diseases By Category
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/diseases" routerLinkActive="active">
            List of FDA Orphan Drugs
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/diseases" routerLinkActive="active">
            GARD Information Navigator
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/diseases" routerLinkActive="active">
            FAQs About Rare Diseases
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="col-md-9">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a
          class="nav-link active"
          [routerLink]="d.id"
          routerLinkActive="active"
          *ngFor="let d of data"
          >{{ d.title }}
        </a>
      </li>
    </ul>
  </div>
</div>
